/git
**/.ssh/*
*.workspace
**/*.pyc
/.idea
/logs
.DS_Store
credentials.json
/venv
*.ipynb
dags/**/*.ipynb
.env
Snowflake*
.venv
/dags/.airflowignore
ga_client_secrets.json
google_ads_credentials.json
/dags/*.csv
.vscode/*

/dags/dbt/**
/dbt**